/*csdn*/
.title-article {
    color: #64f;
    font-size: 40px;
    word-wrap: break-word;
}
div[data-pid="blog"] {
    display: none;
}

a[title="脉脉"] {
    visibility: hidden;
    display: none;
}


/*隐藏简书的推荐栏目*/
div > section._3Z3nHf{
    /*visibility: hidden;*/
    display: none;
}

/* 隐藏简书广告*/
aside > section.-umr26 {
    display: none;
}

div > section[aria-label="youdao-ad"]{
    /*visibility: hidden;*/
    display: none;
}