#qrcode .sub-title {
    color: #f87;
    font-size: 40px;
    line-height: 14px;
    font-weight: 300;
}

body {
    color: #387;
    background: #780;
    margin: 0;
    padding: 0;
    font-family: Georgia, Palatino, serif;
}

.title-article {
    color: #a6f;
    font-size: 40px;
    word-wrap: break-word;
}